---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  <header class="blurb h-card" style="
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 20px;
"><div class="container">
    <img alt="Deryk Makgill" src="https://pbs.twimg.com/profile_images/1226668761916166146/ZnZrRCcn_400x400.jpg" style="
    border-radius: 100%;
    float: right;
    max-width: 30%;
"><h1>Hello, I'm Deryk Makgill</h1><p>I am a Web Developer based in The Midlands, UK.</p><p><a href="/about">I have over 15 years of full stack development, from database to deployment, across a range of technologies.</a></p><p><a href="/#posts">This blog </a>has been active since 2010, and documents a great portion of my career as a developer.
It is my way of giving something back to the development community.</p><p>It's not about the technology, it's about the delivery.
</p></div></header>
  

  {{ content }}


 

</div>
